<?xml version="1.0"?>
<theme>
    <name>Errando</name>
    <title>Errando Discimus</title>
    <version>2026</version>
    <compatibility>3.0</compatibility>
    <author>Alejandro Félez </author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>Errando Disciums

iDevice icons by Francisco Javier Pulido Cuadrado.

Open Sans Font, by The Open Sans Project Authors, under the SIL Open Font License, Version 1.1. Copyright 2020 The Open Sans Project Authors (https://github.com/googlefonts/opensans).</description>
    <downloadable>1</downloadable>
</theme>